fastapi>=0.95.0
uvicorn>=0.22.0
pydantic>=2.0.0

httpx>=0.24.0
python-multipart>=0.0.6

JPype1>=1.4.1

pydantic-settings>=2.0.0
python-dotenv>=1.0.0

# Utility packages
loguru>=0.7.0   # Better logging
tenacity>=8.2.2  # Retry logic
