BODY {
	background: #FFFFFF url(https://www.unitime.org/include/bg.jpg) no-repeat scroll top center;
	font-family: sans-serif, verdana, arial;
}

.page-header {
	width: 800px;
}

.page-body {
	width: 800px;
}

.page-footer {
	width: 800px;
}

A:link {
	color: #002288;
	text-decoration: none;
}
A:visited {
	color: #002288;
	text-decoration: none;
}
A:active {
	color: #002288;
	text-decoration: none;
}
A:hover {
	color: #002288;
	text-decoration: underline;
}

A.uniLink {
	color: black;
	text-decoration: none;
	font-family: comic sans ms, verdana;
}

A.uniLink:link {
	color: black;
	text-decoration: none;
}

A.uniLink:visited {
	color: black;
	text-decoration: none;
}

A.uniLink:active {
	color: black;
	text-decoration: none;
}

A.uniLink:hover {
	color: black;
	text-decoration: none;
}

A.menuLink {
	color: #8000AD;
	text-decoration: none;
}

A.menuLink:link {
	color: #8000AD;
	text-decoration: none;
}

A.menuLink:visited {
	color: #8000AD;
	text-decoration: none;
}

A.menuLink:active {
	color: #8000AD;
	text-decoration: none;
}

A.menuLink:hover {
	color: #8000AD;
	text-decoration: underline;
}

.header    {
	text-align: left;
	border-bottom: 2px #8000AD solid;
	font-size: 14pt;
	font-weight: bold;
	padding: 2px;
	padding-left: 8px;
}

.warning    {
	text-align: left;
	background-color: orange;
	font-size: 12pt;
	font-weight: bold;
	padding: 2px;
	padding-left: 12px;
}

.header2    {
	border-bottom: 2px #8000AD solid;
	font-weight: bold;
}

.header3    {
	font-weight: bold;
}

.lastModif {
	border-top: 1px #8000AD solid;
	font-size: 90%;
	font-family: comic sans ms, verdana;
}

.xml {
	padding-top: 10px;
	color: blue;
}

.innerBlock {
	display: block;
	margin-left: 50px;
}

.descTable {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.descTableHead {
	border-bottom: 1px #8000AD solid;
	text-align: left;
	padding-left: 5px;
}

.descTableKey {
	padding-left: 10px;
	text-align: left;
	vertical-align: top;
	width: 1%;
	white-space: nowrap;
	font-weight: bold;
}

.descTableValue {
	padding-left: 20px;
	text-align: left;
}

.desc {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pad {
	padding-left: 20px;
	display: inline-block;
}

.item {
	padding-left: 20px;
	display: inline-block;
	border-left: 1px #8000AD solid;
}

ul#menu {
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	padding:0px 0px 3px 5px;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
}

ul#menu li {
	background:rgb(166,188,255);
	display:inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 5px 0px 3px 0px;
	margin: 0px 3px 0px 3px;
	position:relative;
	border-top: 1px rgb(102,140,255) solid;
	border-left: 1px rgb(102,140,255) solid;
	border-right: 1px rgb(102,140,255) solid;
}

ul#menu li a {
	color:#334455;
	font-weight:bold;
	padding: 0px 30px 0px 10px;
}

ul#menu li.selected a, ul#menu li a:hover {
	text-decoration: none;
}

ul#menu li.wiki {
	margin: 0px 3px 0px 20px;
	background:rgb(255,179,179);
	border-top: 1px rgb(255,102,140) solid;
	border-left: 1px rgb(255,102,140) solid;
	border-right: 1px rgb(255,102,140) solid;
}

ul#menu li.wiki:hover {
	background:rgb(255,225,233);
	text-decoration: none;
}

ul#menu li.help {
	margin: 0px 3px 0px 3px;
	background:rgb(255,179,179);
	border-top: 1px rgb(255,102,140) solid;
	border-left: 1px rgb(255,102,140) solid;
	border-right: 1px rgb(255,102,140) solid;
}

ul#menu li.help:hover {
	background:rgb(255,225,233);
	text-decoration: none;
}

ul#menu li.selected, ul#menu li.selected:hover {
	background: white;
	text-decoration: none;
	padding: 5px 0px 5px 0px;
}

ul#menu li:hover {
	background:rgb(225,233,255);
	text-decoration: none;
}

.content {
	background-color: white;
	border: 1px rgb(102,140,255) solid;
	padding: 10px;
}

div#menu2 {
	float:right;
	border-left:#8000AD 1px solid;
	border-bottom:#8000AD 1px solid;
	padding:0.1em 0.8em 0.3em 0.5em;
	margin: 0pt 0pt 0em 1em;
	font-size:70%
}

div#menu2 ul {
	list-style-type:square;
	list-style-image:url(bullet.gif);
	line-height:1.3em;
	padding: 0pt;
	margin:0.2em 0pt 0pt 1.5em;
}

div#menu2 li {
	padding-left: 0.1em;
}

.figure{
	font-style:italic;
	text-align:center;
	margin: 1em 0.1em 1em 0.1em;
}

.announcement {
	background-color: #F0F0FF;
	padding:5px 20px 5px 40px;
}

.links-and-screenshots {
	max-width: 500px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px 0px 40px;
}

.twitter {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	width: 300px;
}

@media all and (max-width: 800px) {
	.content {
		border: inherit;
		border-bottom: 1px rgb(102,140,255) solid;
		padding: 10px 0px 10px 0px;
	}

	.page-header {
		width: 100vw;
	}

	.page-body {
		width: 100vw;
	}

	.page-footer {
		width: 100vw;
	}

	.page-body table {
		max-width: calc(100vw - 40px);
	}

	body {
		margin: 0px;
	}

	blockquote {
		margin: 10px;
	}

	ul#menu {
		white-space: pre-line;
		padding: 5px;
	}

	ul#menu li {
		display:inherit;
	}

	ul#menu li {
		background: white;
	}

	ul#menu li.wiki {
		margin: 0px 3px 0px 3px;
		border-bottom: 1px rgb(255,102,140) solid;
	}

	ul#menu li.selected, ul#menu li.selected:hover {
		background: rgb(166,188,255);
	}

	.header {
		width: calc(100vw - 20px);
	}

	div#menu2 {
		float: none;
		font-size: inherit;
		border-left: none;
		border-bottom: none;
		margin: 0px;
		width: calc(100vw - 20px);
	}

	img#screenshots {
		max-width: calc(100vw - 60px) !important;
		padding-left: 20px;
		height: inherit !important;
	}

	.links-and-screenshots {
		width: 100%;
		padding: 10px;
	}

	.twitter {
		width: 100%;
	}

	.announcement {
		padding: 10px;
	}
}
